<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <title>app</title>
</head>
<body>
    <div class="login-box">
        <h2>Jelentkezz be</h2>
        <form action="/submit" method="POST">
          <div class="user-box">
            <input type="text" name="name" required>
            <label>Felhasználónév</label>
          </div>
          <div class="user-box">
            <input type="password" name="pass" required>
            <label>Jelszó</label>
          </div>
          <button type="submit" value="Submit" >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Bejelentkezés
          </button>
        </form>
      </div>
</body>
</html>
