<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/unauth.css') }}">

    <title>go away</title>
</head>
<body>
    <div class="content">
        <h2 >Hozzáférés&nbspmegtagadva!</h2>
        <h2 >Hozzáférés&nbspmegtagadva!</h2>


        
    </div>
    <p class="kozep">"{{name}} -nak/nek nincs hozzáférése"</p>
    <button class="vissza" ><a href="/">Vissza</a></button>
</body>
</html>